.noGitDir {
    color: #3b3b3b;
}

.gitDir:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}

.gitResultHeader:hover, ul.gitFileModified li:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}

.gitBranch {
    color: #2a6496;
}

.gitBranchNotInSync {
    color: orange;
}

.gitBranchInSync {
    color: green;
}

.gitFileConflicted, .gitFileNotAdded, .gitFileModified, .gitFileDeleted {
    color: red;
    list-style-type: none;
}
.gitFileCreated {
    color: green;
    list-style-type: none;
}

.gitRepoInfo {
    background-color: black;
}
.gitContent {
    display: none;
}

div.folderList {
    margin: 10px;
}

@media (min-width: 767px) {
    #navigation{
        position: fixed;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    }
}
