@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html,body {
    height: 100%;
    font-family: 'Droid Sans Mono', sans-serif;
}

p,h1,h2,h3,h4 {
    font-family: 'Droid Sans Mono', sans-serif;
}

body {
    overflow-x: hidden;
}

h3, h4, h5 {
    color: #969696;
}

@media (min-width: 767px) {
    #navigation{
        position: fixed;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
        margin-top: 40px;
    }
}

.cmdBoxNavi {
    position: fixed;
    top: 0;
    border-bottom: 1px solid silver;
}

.noGitDir {
    color: #b4b4b4;
}

.gitDir:hover, .gitDir.active {
    background-color: #d4d4d4;
    cursor: pointer;
}

.gitBranch {
    color: #96226e;
}

.gitBranchNotInSync {
    color: orange;
}

.gitBranchInSync {
    color: green;
}

.gitFileConflicted, .gitFileNotAdded, .gitFileDeleted {
    color: red;
    list-style-type: none;
}

.gitFileModified {
    color: orange;
    list-style-type: none;
}

.gitFileCreated {
    color: green;
    list-style-type: none;
}

.gitRepoInfo {
    background-color: black;
}
.gitContent {
    display: none;
}

textarea.codemirror {
    display: none;
}

/* Tabs */

.nav-tabs > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
}

.tab-content {
    padding-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid silver;
    background: #b0b0b0;
}

ul.unstyled {
    -webkit-padding-start: 0;
    list-style-type: none;
}
