@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html,body {
    height: 100%;
    font-family: 'Droid Sans Mono', sans-serif;
}

p,h1,h2,h3,h4 {
    font-family: 'Droid Sans Mono', sans-serif;
}

body {
    background: #1E1E1E;
    color: #f9f9f9;
    overflow-x: hidden;
}

a {
    color:#bcbcbc;
}

h3, h4, h5 {
    color:#555555;
}

.well {
    background: none;
}

@media (min-width: 767px) {
    #navigation{
        position: fixed;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
        margin-top: 40px;
        padding-bottom: 40px;
    }
}

.cmdBoxNavi {
    position: fixed;
    top: 0;
    border-bottom: 1px solid silver;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #111111;
}

::-webkit-scrollbar-thumb {
    background: #545454;
}

::-webkit-scrollbar-corner {
    background: #545454;
}

.noGitDir {
    color: #3b3b3b;
}

.gitDir:hover, .gitDir.active {
    background-color: #3b3b3b;
    cursor: pointer;
}

.gitBranch {
    color: #ff5e93;
}

.gitBranchNotInSync {
    color: orange;
}

.gitBranchInSync {
    color: green;
}

.gitFileConflicted, .gitFileNotAdded, .gitFileDeleted {
    color: red;
    list-style-type: none;
}

.gitFileModified {
    color: orange;
    list-style-type: none;
}

.gitFileCreated {
    color: green;
    list-style-type: none;
}

.gitRepoInfo {
    background-color: black;
}

#gitContent {
    margin-bottom: 100px;
}

.dropdown-menu {
    background-color: #242424;
}

.dropdown-menu > li > a {
    color: lightyellow;
}
.dropdown-menu > li > a:hover {
    background-color: #3b3b3b;
    color: #000;
}

.btn-inverse {
    background-color: #3b3b3b;
    color: lightyellow;
}

.btn-inverse:hover, .btn-inverse:focus {
    color: #abab00;
}


/* CodeMirror */

.CodeMirror {
    color: white;
    background-color: #0f0f0f;
}

textarea.codemirror {
    display: none;
}

.CodeMirror-linenumber, .CodeMirror-gutter, .CodeMirror-gutters,
.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    background-color: #111111;
}

/* Tabs */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover {
    background-color: #494949;
    color: #888400;
}

.nav-tabs > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
}

.tab-content {
    padding-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid silver;
    background: #444444;
}

ul.unstyled {
    -webkit-padding-start: 0;
    list-style-type: none;
}
