.noGitDir {
    color: #3b3b3b;
}

.gitDir:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}

.gitResultHeader:hover, ul.gitFileModified li:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}

.gitBranch {
    color: #2a6496;
}

.gitBranchNotInSync {
    color: orange;
}

.gitBranchInSync {
    color: green;
}

.gitFileConflicted, .gitFileNotAdded, .gitFileDeleted {
    color: red;
    list-style-type: none;
}

.gitFileModified {
    color: orange;
    list-style-type: none;
}

.gitFileCreated {
    color: green;
    list-style-type: none;
}

.gitRepoInfo {
    background-color: black;
}
.gitContent {
    display: none;
}

div.folderList {
    margin: 10px;
}

.dropdown-menu {
    background-color: #0f0f0f;
    color: cornsilk;
}
.dropdown-menux > li {
    background-color: #0f0f0f;
    color: cornsilk;
}

.dropdown-menu > li > a:hover {
    background-color: #2a6496;
    color: #000;
}

.btn-inverse {
    background-color: #3b3b3b;
}

@media (min-width: 767px) {
    #navigation{
        position: fixed;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
        margin-top: 40px;
    }
}

.cmdBoxNavi {
    position: fixed;
    top: 0;
    border-bottom: 1px solid silver;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #2a6496;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

body {
    overflow-x: hidden;
}
